body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

#samusName {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#samus {
    justify-content: center;
}

.samus {
    float: left;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}

#samusHP {
    font-family: 'Press Start 2P', cursive;
    color: white;
    justify-content: center;
}

.samusDT {
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: none;
}


.enemy1 {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

#enemy1 {
    width: 366px;
    height: 416px;
}

#enemyName {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#enemyHP1{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.enemyDT {
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: none;
}

.attack {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

#message {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    visibility: hidden;
}

#button {
    
}